.header{
    background: url("../img/bg-header.png")center;
    background-size: cover;
    padding:15px 10px;
    &__container{
        max-width:1024px;
        padding:0px 20px 80px 20px;
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        justify-content: space-between;
    }
    &__menu{
        display: flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content: space-between;
        margin-bottom:60px;
        &.ativo{
            flex-direction: column-reverse;
            @media (min-width:768px){
                flex-direction: row;
            }
        }
        &.ativo .header__compras{
            position:absolute;
            top:10px;
            right:10px;
        }
    }
    &__mobile{
        cursor: pointer;
        padding:10px;
        z-index:100;
        &.change{
            position: absolute;
            top:10px;
            right: 10px;;
        }
        @media (min-width:769px){
            display: none;
        }
        & .bar1, .bar2, .bar3{
            display:block;
            width: 25px;
            height: 3px;
            background-color:#fff;
            margin: 5px 0;
            transition: 0.4s;
        }
    }
    .change .bar1 {
        transform: rotate(-45deg) translate(-6px, 5px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: rotate(45deg) translate(-6px, -6px);
    }
    &__nav{
        display: none;
        margin:0 auto;
        align-items: center;
        justify-content: center;
        @media (min-width:769px){
            display: block;
            order:0;
        }
        &.ativo{
            display: block;
            position:absolute;
            top:0;
            left:0;
            right: 0;
            background-color:#000;
            opacity:.9;
            z-index:99;
            @media (min-width:769px){
                display: none;
            }
            & ul{
                width:100%;
                padding:0 10px;
                justify-content:flex-start;
            }
            & li{
                margin:0 5px;
            }
        }
        & ul{
            display: flex;
            align-items:center;
        }
        & a{
            text-decoration: none;
            color:#fff;
            font-size:12px;
            padding:10px 5px;
            margin:0 5px;
            @media (min-width:769px){
                order:-1;
                font-size:11px;
                padding:15px 5px;
                margin:0 5px;
            }
        }
    }
    &__logo{
        max-width:120px;
        min-width:90px;
        height: 35px;
        @media (min-width:769px){
        order:-5;
        }
    }
    &__compras{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:50%;
        width: 50px;
        height: 50px;
        background-color:#f71963;
    }
    &__compras img{
        width:30px;
        height:30px;
    }
    &__compras span{
        position: absolute;
        top:0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width:12px;
        height: 12px;
        background-color:#333;
        border-radius:50%;
        font-size:6px;
        color:#fff;  
    }
}

.call-to-action{
    max-width:220px;
    font-family: fabriga;
    & h1{
        font-size:28px;
        font-weight: bold;
        color:#fff;
        @media (min-width:769px){
            font-size:40px;
        }
    }
    & p{
        font-size:13px;
        color:#ddd;
        line-height:17px;
        margin:10px 0 20px 0;
        @media (min-width:769px){
            font-size:16px;
            line-height:19px;
            margin:20px 0 35px 0;
            width:300px;
        }
    }
    & a{
        max-width:150px;
        text-align:center;
        background-color:#f71963;
        color:#fff;
        border-radius:50px;
        font-size:10px;
        padding:10px 30px;
        cursor:pointer;
        @media (min-width:769px){
            font-size:18px;
        }
    }
    & span{
        font-size:8px
    }
}